<h1>My Blog</h1>
<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<div class="entry">
  <div class="actions">
    <%= link_to 'Edit', [:edit, post] %>
    <%= button_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>
<% end%> 
<%= link_to 'New Post', new_post_path %>